@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap");
@media screen and (max-width: 480px) {
  body .hero {
    width: 100%;
  }
  body .hero h1 {
    font-size: 60px;
  }
  body .hero p {
    font-size: 15px;
    text-align: center;
  }
  body .hero small {
    text-align: center;
    font-size: 20px;
  }
  .why-join .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .why-join .content {
    margin: 10px 0;
  }
  .stats .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

.hero {
  height: 100vh;
  background: -webkit-gradient(linear, right top, left top, from(rgba(25, 134, 235, 0.6)), to(rgba(25, 134, 235, 0.6))), url(https://scontent-los2-1.xx.fbcdn.net/v/t1.0-9/p720x720/139493767_276708677214520_383371500984432734_o.jpg?_nc_cat=108&ccb=2&_nc_sid=825194&_nc_eui2=AeFV54vv-wz5PsItxVcP56E4UkVq5w4icN9SRWrnDiJw30spUQ3xoNOusqMFObCUcz1F9g08e6H5xGl2FaM3A2b1&_nc_ohc=mgR9HnUpTc8AX-4skHZ&_nc_ht=scontent-los2-1.xx&tp=6&oh=2b4b627978db22e2812ee51e1553fcba&oe=6035D8F1);
  background: linear-gradient(-90deg, rgba(25, 134, 235, 0.6), rgba(25, 134, 235, 0.6)), url(https://scontent-los2-1.xx.fbcdn.net/v/t1.0-9/p720x720/139493767_276708677214520_383371500984432734_o.jpg?_nc_cat=108&ccb=2&_nc_sid=825194&_nc_eui2=AeFV54vv-wz5PsItxVcP56E4UkVq5w4icN9SRWrnDiJw30spUQ3xoNOusqMFObCUcz1F9g08e6H5xGl2FaM3A2b1&_nc_ohc=mgR9HnUpTc8AX-4skHZ&_nc_ht=scontent-los2-1.xx&tp=6&oh=2b4b627978db22e2812ee51e1553fcba&oe=6035D8F1);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero h1 {
  font-size: 120px;
}

.hero p {
  font-size: 20px;
  text-align: center;
}

.hero small {
  text-align: center;
  font-size: 15px;
}

.why-join {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
  padding: 50px 0;
}

.why-join h1 {
  padding: 20px;
  color: #1986eb;
}

.why-join .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.why-join .row .content {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #1986eb;
  height: 300px;
  width: 250px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 20px;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.why-join .row .content h3 {
  padding: 10px 0;
  text-align: center;
}

.why-join .row .content p {
  text-align: center;
  font-size: 15px;
}

.why-join .row .content .icon {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.why-join .row .content .icon .fas {
  color: #1986eb;
}

.stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1986eb;
  padding: 30px 0;
}

.stats .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.stats .row .content {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  color: #fff;
}

.stats .row .content p {
  font-size: 25px;
}

.stats .row .content .circle {
  background-color: #fff;
  padding: 20px;
  border-radius: 100px;
  height: 100px;
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0;
  cursor: pointer;
}

.stats .row .content .circle h1 {
  color: #1986eb;
  font-size: 45px;
}

.cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 50px 0;
}

.cta h1 {
  color: #1986eb;
  text-align: center;
}

.cta button {
  color: #fff;
  outline: none;
  border: none;
  background-color: #1986eb;
  padding: 20px;
  width: 150px;
  height: 150px;
  border-radius: 100px;
  font-size: 20px;
  cursor: pointer;
  margin: 10px 0;
}

.cta button a:link {
  color: #fff;
  text-decoration: none;
}

.cta button a:visited {
  color: #fff;
}

footer {
  background-color: #262626;
  text-align: center;
  color: #fff;
  padding: 20px;
}
/*# sourceMappingURL=style.css.map */